{% extends 'base.html' %}

{% block title %}New Post — Flaskr{% endblock %}

{% block content %}
    <h1>Novo Post</h1>
    <form method="POST">
        <label>
            Título:
            <input type="text" name="titulo" required style="width: 100%; max-width: 500px;">
        </label>
        <label>
            Série:
            <input type="text" name="serie" required style="width: 100%; max-width: 500px;">
        </label>
        <label>
            Matéria:
            <input type="text" name="materia" required style="width: 100%; max-width: 500px;">
        </label>
        <button type="submit">Publicar</button>
        <a href="{{ url_for('blog.index') }}" style="margin-left: 15px;">Cancelar</a>
    </form>
{% endblock %}