{% extends 'base.html' %}

{% block title %}Nova Questão{% endblock %}

{% block content %}
  <h1>Nova Questão para: {{ prova['titulo'] }}</h1>
  
  <form method="post">
    <label for="enunciado">Enunciado da Questão</label>
    <textarea name="enunciado" id="enunciado" rows="6" required>{{ request.form['enunciado'] }}</textarea>
    
    <input type="submit" value="Salvar Questão">
    <a class="action" href="{{ url_for('blog.listar_questoes', prova_id=prova['id']) }}">Cancelar</a>
  </form>
{% endblock %}